aiofiles==24.1.0
aiomysql==0.2.0
aniso8601==10.0.0
annotated-types==0.7.0
bcrypt==4.2.1
blinker==1.8.2
cachetools==5.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
exceptiongroup==1.2.2
Flask==3.0.3
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-core==2.4.1
google-cloud-storage==3.0.0
google-crc32c==1.6.0.dev2
google-resumable-media==2.7.2
googleapis-common-protos==1.67.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==2.1.5
mysql-connector-python==9.0.0
priority==2.0.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
PyJWT==2.9.0
PyMySQL==1.1.1
python-dotenv==1.0.1
pytz==2025.1
Quart==0.19.9
quart-cors==0.7.0
requests==2.32.3
rsa==4.9
six==1.17.0
taskgroup==0.2.2
tomli==2.2.1
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.6
wsproto==1.2.0
zipp==3.20.2
